@font-face {
  font-family: 'Google Sans';
  src: url('./assets/fonts/Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Google Sans';
  src: url('./assets/fonts/RegularItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Google Sans';
  src: url('./assets/fonts/Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Google Sans';
  src: url('./assets/fonts/MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Google Sans';
  src: url('./assets/fonts/SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Google Sans';
  src: url('./assets/fonts/SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Google Sans';
  src: url('./assets/fonts/Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Google Sans';
  src: url('./assets/fonts/BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}



