body{
    background-color: #F5F5F7;
}
.about-section {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
}

/* Main white card */
.about-card {
  background: #ffffff;
  width: 100%;
  max-width: 1100px;
  border-radius: 30px;
  padding: 60px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.05);
}

/* Text section */
.about-text {
  flex: 1;
}

.about-title {
  font-family: "Google Sans", sans-serif;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: -1.5px;
  color: #111;
  margin-bottom: 24px;
  display: inline-block;
}

/* Small underline */
.title-underline {
  display: block;
  width: 28px;
  height: 4px;
  background: #7c5cff;
  border-radius: 2px;
  margin-top: 8px;
}

.about-description {
    font-family: "Google Sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.7px;  
  line-height: 25px;
  color: #555;
  max-width: 500px;
  margin-bottom: 0px;
}
.about-description .str{
     font-family: "Google Sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.7px;  
  line-height: 25px;
  color: #111;
  max-width: 520px;
  margin-bottom: 0px;
}


/* Right purple block */
.about-image .img{
  width: 250px;
  height: 250px;
}

/* Responsive */
@media (max-width: 900px) {
  .about-section{
    margin-bottom: 25px;
    margin-top: 50px;
  }
  .about-card {
    flex-direction: column;
    padding: 40px 30px;
    text-align: center;
    display: block;
    gap: 10px;
    padding-bottom: 20px;
  }
  .about-title{
    font-size: 32px;
    
  }



  .about-description {
    max-width: 100%;
    font-size: medium;
  }
  .about-description .str{
    max-width: 100%;
    font-size: medium;
  }

  .about-image {
    width: 100%;
    height: 100%;
    
  }
}


