.hero {
  min-height: 100vh;
  display: flex;
  justify-content: center;

  /* SVG background image */
  background-image: url("/src/assets/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  position: relative;
  overflow: hidden;
}

/* Center content */
.hero-content {
  text-align: center;
  max-width: 800px;
  padding: 20px;
  z-index: 1000;
  margin-top: 140px;
}

/* Black circular frame */
.profile-circle {
  width: 180px;
  height: 180px;
  background: black;
  border-radius: 50%;
  margin: 0 auto 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 500px;
}

.profile-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

/* Headings */
.hero-title {
  color: #111;
  margin-bottom: 2px;
  font-family: "Google Sans", sans-serif;
  font-size: 64px;
  font-weight: 600;
  letter-spacing: -3.5px;
}

.hero-title span {
  font-weight: 800;
}

.hero-subtitle {
  color: #6a6cf6;
  margin-bottom: -5px;
  font-family: "Google Sans", sans-serif;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -3.5px;
}

/* Description */
.hero-description {
    font-family: "Google Sans", sans-serif;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: -1.2px;
  color: #151515;
  margin-bottom: 15px;
}

/* Button */
.hero-btn {
  padding: 12px 20px;
  background: radial-gradient(
    circle at bottom,
    #7a5cff 0%,
    #5a3fcf 45%,
    #4a2bb8 100%
  );
  border: none;
  border-radius: 14px;
  color: white;
  font-family: "Google Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  box-shadow: 0px 10px 25px rgba(106, 92, 255, 0.35);
  box-shadow: inset 0 1px 4px rgba(255, 255, 255, 0.4),
    inset 0 -2px 6px rgba(0, 0, 0, 0.2),
    0 14px 35px rgba(106, 92, 255, 0.45);
  transition: transform 0.25s ease, box-shadow 0.25s ease;
    
}

.hero-btn:hover {
  box-shadow:
    inset 0 1px 4px rgba(255, 255, 255, 0.4),
    inset 0 -2px 6px rgba(0, 0, 0, 0.2),
    0 26px 50px rgba(90, 63, 207, 0.55);
  background: radial-gradient(
    circle at bottom,
    #8a70ff 0%,
    #5a3fcf 45%,
    #4a2bb8 100%
  );
  transform: translateY(-2px);
  
}
.text{
    font-family: "Google Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
    background: -webkit-linear-gradient(180deg,#c6baff, #FFFFFF, #FFFFFF, #FFFFFF, #c6baff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Google Sans", sans-serif;
    margin: 0px;
}
/* Responsive */
@media (max-width: 768px) {
  .hero-title {
    font-size: 36px;
    letter-spacing: -2.5px;
  }

  .hero-subtitle {
    font-size: 24px;
    letter-spacing: -1.3px;
  }
}

.h1{
  margin-bottom: -2px;
}
.h2{
  margin-bottom: -10px;
}
.h3{
  margin-top: -2px;
  margin-bottom: 15px;
}