/* .main{
    background-color: #FAFAFA;
    height: 70px;
}
.links{
    background-color: #F1F1F1;
    border: none;
    border-radius: 14px;
    padding: 5px;
}
.links .link{
    background-color: transparent;
    border-radius: 9px;
    font-weight: 400;
    color: #636363;
    font-family: 'Google Sans', sans-serif;
    margin-left: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: color 0.3s ease;
}
.links .link:hover{
    background-color: #FAFAFA;
    border-radius: 9px;
    font-weight: 400;
    color: black;
    font-family: 'Google Sans', sans-serif;
    box-shadow: inset 0px 2px 3px white;
    box-shadow:  1px 3px 4px rgba(0, 0, 0, 0.079);
    transition: transform 0.45s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.links .link:active{
    background-color: rgb(192, 192, 192);
}
.links .link::after{
    background-color: black;
    color: white;
} */


.main {
  background-color: #FAFAFA;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.linkss {
  background-color: #F1F1F1;
  border-radius: 14px;
  padding: 5px;
  position: relative;
}

.linkss .link {
  position: relative;
  z-index: 2;
  padding: 6px 18px;
  font-family: "Google Sans", sans-serif;
  font-size: 14px;
  color: #636363;
  transition: color 0.3s ease;
  margin-left: 5px;
}

.linkss .link:hover {
  color: #000;
}
.linkss .link:active {
  color: #606060;
    border-radius: 10px;
}
.linkss .link::after {
  color: #000;
    background-color: #dbdbdb;
    border-radius: 10px;
}


/* PERFECT FIT INDICATOR */
.nav-indicator {
  position: absolute;
  top: 5px;
  left: 0;
  height: calc(100% - 10px);
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);

  opacity: 0;
  transform: scale(0.95);
  transition:
    transform 0.35s cubic-bezier(0.34, 1.56, 0.64, 1),
    width 0.35s cubic-bezier(0.34, 1.56, 0.64, 1),
    opacity 0.2s ease;

  z-index: 1;
}


.resume-btn{
    background-color: #151515;
    border-radius: 14px;
    cursor: pointer;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  padding: 12px 18px;
  text-decoration: none;
  display: flex;
  color: white;
  
}
.btn .gradient-text:hover{
    border-radius: 14px;
    background-color: #000;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.277);
    transform: translateY(-2px);
    
}
.btn .gradient-text:active{
    border: none;
}

.text1{
    background: -webkit-linear-gradient(180deg,#BCBCBC, #FFFFFF, #FFFFFF, #FFFFFF, #BCBCBC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Google Sans", sans-serif;
    font-size: 14px;
    margin: 0px;
    cursor: pointer;
}
.text1:active{
    color: black;
    font-family: "Google Sans", sans-serif;
    font-size: 14px;
    margin: 0px;
    cursor: pointer;
}



.resume-btn:hover {
  background: #000;
  color: white;
  transform: translateY(-2px);
}

.resume-icon {
  font-size: 18px;
  margin-bottom: 3px;
  margin-left: 5px;
}
