.projects-section {
  background: #000;
  padding: 100px 20px;
}

.projects-container {
  max-width: 1200px;
  margin: auto;
}

/* Title */
.projects-title {
  font-family: "Google Sans", sans-serif;
  font-size: 36px;
  font-weight: 700;
  display: inline-block;
  letter-spacing: -1.5px;
  background: -webkit-linear-gradient(180deg,#BCBCBC, #FFFFFF, #FFFFFF, #FFFFFF, #BCBCBC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.projects-underline {
  display: block;
  width: 28px;
  height: 4px;
  background: #7c5cff;
  border-radius: 2px;
  margin-top: 8px;
}

.projects-subtitle {
  font-family: "Google Sans", sans-serif;
  font-size: 32px;
  font-weight: 400;
  color: #eaeaea;
  margin: 30px 0 30px;
}
.projects-subtitle2 {
  font-family: "Google Sans", sans-serif;
  font-size: 32px;
  font-weight: 400;
  color: #eaeaea;
  margin: 80px 0 30px;
}

/* Grid */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

/* Card */
.card{
  background-color: transparent;
}
.card .project-card {
  position: relative;
  border-radius: 28px;
  transition: transform 0.35s ease;
  text-decoration: none;
  color: inherit;
}

.project-card:hover {
  transform: translateY(-6px);
  transform: scale(1.05);
}


/* Project image */
.project-image {
  width: 100%;
  height: 400px;
  border-radius: 18px;
  object-fit: cover;
}



/* Responsive */
@media (max-width: 900px) {
  .projects-section{
    margin-bottom: 25px;
    margin-top: 50px;
    padding: 50px 20px;
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }
  .projects-grid{
    gap: 40px;
  }

  
  .card .project-card {
  position: relative;
  border-radius: 28px;
  transition: transform 0.35s ease;
  text-decoration: none;
  color: inherit;
  width: 100%;
  height: 220px;
}
.project-image {
  width: 100%;
  height: 220px;
  border-radius: 18px;
  object-fit: cover;
}
  .projects-grid {
    grid-template-columns: 1fr;
  }

  .projects-title {
    font-size: 32px;
    margin-bottom: 0px;
  }

  .projects-subtitle {
    font-size: 22px;
    margin-top:  30px;
    margin-bottom: 12px;
  }
  .projects-subtitle2 {
    font-size: 22px;
    margin-top:  40px;
    margin-bottom: 12px;
  }
}
