.skills-section {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
}

.skills-card {
  background: #000;
  width: 100%;
  max-width: 1100px;
  border-radius: 36px;
  padding: 60px 150px;
  color: #fff;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.05);

}

/* Title */
.skills-title {
  font-family: "Google Sans", sans-serif;
  font-size: 36px;
  font-weight: 700;
  display: inline-block;
  letter-spacing: -1.5px;
  background: -webkit-linear-gradient(180deg,#BCBCBC, #FFFFFF, #FFFFFF, #FFFFFF, #BCBCBC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  margin-bottom: 30px;
}

.skills-underline {
  display: block;
  width: 28px;
  height: 4px;
  background: #7c5cff;
  border-radius: 2px;
  margin-top: 8px;
}

/* Groups */
.skills-group {
  margin-bottom: 36px;
}
.skills-group2 h3{

  font-family: "Google Sans", sans-serif;
  font-size: 22px;
  font-weight: 400;
}

.skills-group h3 {
  font-family: "Google Sans", sans-serif;
  font-size: 22px;
  font-weight: 400;
}

/* Skill row */
.skills-row {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;

  
  
}
.txt{
    font-family: "Google Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
  background: -webkit-linear-gradient(180deg,#BCBCBC, #FFFFFF, #FFFFFF, #FFFFFF, #BCBCBC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Google Sans", sans-serif;
    font-size: 14px;
}

/* Skill pill */
.skill-pill {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 16px;
  background: #111;
  border-radius: 14px;
  font-size: 14px;
  font-weight: 500;
  color: #eaeaea;
}
.skill-pill:hover {
  background: #222;
  transition: ease-in-out 0.3s;
}

/* Icon */
.skill-pill img {
  height: 22px;
  width: 22px;
}

/* Responsive */
@media (max-width: 768px) {
  .skills-card {
    padding: 40px 40px;
  }

  .skills-title {
    font-size: 32px;
  }
}
